<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.car.odb.dao.parking.IParkingDAO">
    <resultMap id="parked_car" type="com.solvd.car.odb.entity.ParkedCar">
        <id property='id' column='id'/>
        <association property="car"
                     column="car_id"
                     javaType="com.solvd.car.odb.entity.Car"
                     select="com.solvd.car.odb.dao.car.ICarDAO.getCarById"
                     fetchType="eager"/>
    </resultMap>
    <select id="getAllParkedCars" resultMap="parked_car">
        select * from parked_cars
        inner join car on parked_cars.car_id = car.id
    </select>
    <select id="getParkedCarById" parameterType="java.lang.Long" resultMap="parked_car">
        select * from parked_cars
        inner join car on parked_cars.car_id = car.id
        where parked_cars.id = #{id}
    </select>
    <insert id="addParkedCar" parameterType="com.solvd.car.odb.entity.ParkedCar">
        insert into parked_cars(car_id)
        values (#{car.id})
    </insert>
    <delete id="deleteParkedCar" parameterType="com.solvd.car.odb.entity.ParkedCar">
        delete from parked_cars
        where id = #{id}
    </delete>
    <update id="updateParkedCar" parameterType="com.solvd.car.odb.entity.ParkedCar">
        update parked_cars
        set car_id = #{car.id}
        where id = #{id}
    </update>
</mapper>